/Board.class
/Bookshelf.class
/Player.class
/Tail.class
/Matrix.class
/PersonalGoalCard.class
/CommonGoals.class
/Color.class
/Turn.class
/PlayersManagement.class
/TurnManagement.class
/TurnsManagement.class
